<head>
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>

<div class="numeros">
<div class="my-card__media" *ngFor="let numer of result">
  <div class="mdc-card__media-content">Numeros digitados em ordem crescente</div> <br>
  {{numer}}
</div>
</div>

<div class="valors">
<label class="mdc-text-field mdc-text-field--filled" >
  <span class="mdc-text-field__ripple"></span>
  <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" [(ngModel)]="numbers" [ngModelOptions]="{standalone: true}">
  <!-- <span class="mdc-floating-label" id="my-label-id">Hint text</span> -->
  <span class="mdc-line-ripple"></span>
</label>

<button class="foo-button mdc-button" (click)="adicionar()">
  <div class="mdc-button__ripple"></div>
  <span class="mdc-button__label">Adicionar</span>
</button>
</div>